@mixin btn-common {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.2s;
    border: 0;
    background: #EEEEEE;
    color: #666;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.3px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: #F8F8F8;
    }
    &.ac {
        background: #0275B5;
        color: #fff;
        &:hover {
            background: #068DD8;
        }
    }
    &.line {
        background: #FFFFFF;
        border: 1px solid #999999;
        color: #222222;
        &:hover {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
        }
    }
}

.btn30 {
    @include btn-common;
    font-size: 14px;
    min-width: 70px;
    height: 30px;
}

.btn38{
    @include btn-common;
    font-size: 15px;
    min-width: 100px;
    height: 38px;
}

.btn46 {
    @include btn-common;
    font-size: 16px;
    min-width: 130px;
    height: 46px;
}

.blue-button {
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    background: #0275B5;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #068DD8;
}

@mixin btn-search {
    width: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 4px;
    &.ac {
        border: 1px solid #0275B5;
        color: #0275B5;
        &:hover {
            border: 1px solid #E6EFF4;
        }
    }
    &.red {
        border: 1px solid #EB2222;
        color: #EB2222;
    }
}

.btn-sh34 {
    @include btn-search;
    height: 34px;    
    font-size: 14px;
}

.btn-sh45 {
    @include btn-search;
    height: 45px;
    font-size: 16px;
}




.BtnSelectDesk {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    min-width: 110px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px;
    color: #999999;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-right: 10px;
    gap: 2px;
    svg {
        display: none;
    }
    // DF 
    &:hover,
    &.check {
        background: #E8F3FA;
        border: 1px solid #176DBD;
        color: #176DBD;
        path {
            fill: #176DBD;
        }
    }
    &.check svg {
        display: block;
    }
    // ORANGE
    &.oran:hover,
    &.oran.check {
        border: 1px solid #FF5100;
        background: rgba(255, 81, 0, 0.05);
        color: #FF5100;
    }
    &.oran.check path {
        fill: #FF5100;
    }
    // RED

}

.toggle {
    cursor: pointer;
    width: 49px;
    height: 25px;
    background: #E7E7E7;
    border-radius: 50px;
    position: relative;
    border: 0;
    &::after {
        content: '';
        width: 19px;
        height: 19px;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
    }
    &:checked {
        background-color: #0275B5;
        &::after {
            left: 27px;
        }
    }
}

// 모바일 버튼  
.btn52 {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    height: 52px;
    padding: 10px;
    width: 100%;
    background-color: #B4D6E9;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    &.ac {
        background-color: #0275B5;
    }
    &.bottom {
        position: fixed;
        bottom: 32px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
    }
}
.mobileWrap {
    .btn52 {
        max-width: 320px;
        margin: 0 auto;
    }
}