@mixin toothComm {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooth {
    @include toothComm;
    position: relative;
    height: 42px;
    min-width: 34px;
    width: calc(100% / 8);
    border: 1px solid #CECECE;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #666666;
    position: relative;
    flex: 1 0 34px;
    margin: 0 5px;
    z-index: 0;
}

.tooth.sel {
    border: 2px solid #91B7DB;
    box-shadow: 0px 0px 8px rgba(126, 180, 210, 0.5);
    font-weight: 800;
    color: #222;
}

.tooth .too1-img::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../../../public/img/btn-tooth01ac.svg) center/cover no-repeat;
}
.tooth .too2-img::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../../../public/img/btn-tooth02ac.svg) center/cover no-repeat;
}
.tooth .too4-img::before {
    content: '';
    display: block;
    width: 90%;
    height: 8px;
    background: url(../../../public/img/btn-tooth04ac.png) center/100% 8px no-repeat;
    transform: rotate(180deg);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.tooth {
    div {
        display: none;
    }  
    .too1-img,
    .too2-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
} 

.toothLT,
.toothRT {
    .too1-img,
    .too2-img {
        top: 24px;
    }
    .tooth.too1,
    .tooth.too2 {
        padding-bottom: 5px;
    }
}
.toothLB,
.toothRB {
    .too1-img,
    .too2-img {
        bottom: 24px;
    }
    .tooth.too1,
    .tooth.too2 {
        padding-top: 5px;
    }
}



.tooth.too1 .too1-img,
.tooth.too2 .too2-img,
.tooth.too3 .too3-img,
.tooth.too4 .too4-img {
    display: block;
} 

.too4 .toolWrap,
.too4-img {
    width: 100%;
}

.toolWrap {
    display: flex;
    gap: 5px;
}


.tooth .too3-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.tooth .too3-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid #176DBD;
    border-top: 0;
    border-bottom: 0;
}