// DeskResult

.deskView {
    padding-top: 80px;
    // max-width: 1200px;
    // padding: 0 20px;
    // margin: 0 auto;
    &.DentistChart .leftInfo {
        border: 0;
        padding-right: 44px;
        .card2 {
            background: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
            margin-top: 33px;
        }
        li + li {
            margin-top: 45px;
        }
        .tit {
            font-weight: 600;
            font-size: 17px;
            line-height: 130%;
            text-align: center;
            padding: 10px;
            background: #E8F3FA;
            border-radius: 30px;
            display: block;
            margin-bottom: 27px;
            color: #0275B5;
        }
        .part {
            font-weight: 600;
            font-size: 17px;
            line-height: 130%;
            text-align: center;
            padding: 10px 20px;
            color: #FF5100;
            background: #FFF3EF;
            border-radius: 30px;
            word-break: keep-all;
            margin: 52px 20px;
        }

        
    }
    &.DentistChart .rightCon {
        padding-left: 0;
        .resultWrap .score .card {
            min-height: auto;
        }
        .resultWrap .score .body {
            display: flex;
            flex-direction: column;
            padding-right: 0;
            gap: 20px;
            .right {
                position:static;
                display: flex;
                width: 100%;
                height: 173px;
                gap: 23px;
                ul {
                    margin:0;
                    margin-top: 10px;
                }
                .standard {
                    flex: 0 0 306px;
                    .h5 {
                        justify-content: flex-start;
                    }
                }
                // .table {
                //     flex: 1 0 auto;
                // }
            }
        }
        .report {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 20px;
            .left {
                z-index: 1;
                position: static;
                width: 100%;
                &::before {
                    width: 105%;
                    height: 361px;
                    top: -261px;
                    z-index: -1;
                }
                h3 {
                    margin-bottom: 40px;
                }
                ul {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;
                    padding: 0 30px 43px;
                }
                li {
                    width: calc((100% - 10px) / 2);
                }
            }
        }
    }
}


ul li {
    .question {
        font-weight: 500;
        font-size: 17px;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 14px;
    }
    .radioWrap {
        display: flex;
        flex-direction: column;
        gap: 9px;
        label {
            font-weight: 400 !important;
            font-size: 17px !important;
            line-height: 100%;
        }
    }
    .inputBx {
        input {
            width: 75px;
            box-sizing: border-box;
            padding-right: 10px;
            font-weight: 500;
            font-size: 17px;
            line-height: 100%;
            text-align: right;
            letter-spacing: -0.3px;
            margin-right: 4px;
        }
        label {
            font-weight: 400;
            font-size: 17px;
            line-height: 100%;
        }
    }
}
