.DeskWait {
  padding-top: 80px;
  background-color: #F7F8FC;
  height: 100vh;
  box-sizing: border-box;
}
.DeskWait .container {
  padding: 20px 0 30px;
  height: calc(100vh - 80px);
  box-sizing: border-box;
}
.DeskWait .inner {
  max-width: 1062px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
}
.DeskWait .inner.flex {
  flex-direction: column;
  height: 100%;
}
.DeskWait .card {
  transition: 0.3s;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 14px;
  padding: 25px 40px;
  padding-top: 19px;
  max-width: 1062px;
  margin: 0 auto;
}
.DeskWait .card.search {
  position: relative;
  padding-bottom: 50px;
}
.DeskWait .card.search .table {
  width: 100%;
  border-bottom: 1px solid #CFCFCF;
  padding-bottom: 14px;
  margin-bottom: 20px;
  color: #222;
}
.DeskWait .card.search .tr {
  display: flex;
  align-items: center;
}
.DeskWait .card.search .th {
  display: flex;
  align-items: center;
  text-align: left;
  flex: 0 0 100px;
}
.DeskWait .card.search .td {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}
.DeskWait .card.search .th, .DeskWait .card.search .td {
  padding: 6px 0;
  font-weight: 600;
}
.DeskWait .card.search select {
  width: 230px;
}
.DeskWait .card.search .btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.DeskWait .card.search .btnWrap .btn {
  width: 180px;
  height: 46px;
  background: #EEEEEE;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #3F3F3F;
  border: 0;
  transition: 0.2s;
}
.DeskWait .card.search .btnWrap .btn.btn-ac {
  background: #0275B5;
  color: #fff;
}
.DeskWait .card.search .btnWrap .btn.btn-ac:hover {
  background: #068DD8;
}
.DeskWait .card.search .btnWrap .btn:hover {
  background: #F8F8F8;
}
.DeskWait .cardWrap {
  position: relative;
}
.DeskWait .cardWrap .arrowUp {
  width: 140px;
  height: 40px;
  background: url(../../../public/img/arrow-up-flat.svg) center no-repeat;
  border: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.DeskWait .cardWrap .cardAcc {
  transition: 0.3s;
  overflow: hidden;
  opacity: 1;
  box-shadow: 0px 0px 8px rgba(126, 180, 210, 0.5);
  border-radius: 14px;
}
.DeskWait .cardWrap .cardAcc.normal .card {
  padding-bottom: 25px;
}
.DeskWait .cardWrap .cardAcc.hidden {
  box-shadow: none;
}
.DeskWait .cardWrap .cardAcc.hidden .card {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.DeskWait .cardWrap .cardAcc.hidden + .arrowUp {
  bottom: -25px;
  transform: translateX(-50%) rotate(180deg);
}
.DeskWait .today {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #0275B5;
  height: 34px;
  width: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #0275B5;
  border-radius: 4px;
  margin-left: 10px;
}
.DeskWait .tablePanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}
.DeskWait .tablePanel > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.DeskWait .tablePanel.bottom {
  align-items: flex-end;
}
.DeskWait .tablePanel .count {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #666;
}
.DeskWait .tablePanel .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 15px 0 18px;
  min-width: 120px;
  width: auto;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #B4BBD3;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #606782;
}
.DeskWait .tablePanel .btn.btn-send i {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../../public/img/send.svg) center/cover no-repeat;
}
.DeskWait .tablePanel .btn.btn-down i {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../../public/img/download.svg) center/cover no-repeat;
}
.DeskWait .tablePanel .btn.btn-sign i {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../../public/img/pen.svg) center/cover no-repeat;
}
.DeskWait .tablePanel .btn:hover {
  background-color: #EDF0F9;
}
.DeskWait .tablePanel .table {
  border: 1px solid #D9DDE9;
  border-radius: 10px;
  overflow: hidden;
}
.DeskWait .tablePanel .table table {
  border-collapse: collapse;
}
.DeskWait .tablePanel .table th {
  background-color: #EFF3F9;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #222222;
  height: 34px;
  padding: 0 10px;
}
.DeskWait .tablePanel .table td {
  background-color: white;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  line-height: 100%;
  color: #222222;
}
.DeskWait .tablePanel .table td:last-child {
  border-right: 0;
}
.DeskWait .tablePanel .table td b {
  font-weight: 500;
}
.DeskWait .tablePanel .table tr:last-child td {
  border-bottom: 0;
}
.DeskWait .tableWrap {
  margin-top: 10px;
}
.DeskWait .tableWrap.tableScroll {
  flex: 1 0 0;
  overflow: auto;
  margin-top: 0;
}
.DeskWait .tableWrap table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.DeskWait .tableWrap table tr.red td {
  color: #EB2222;
}
.DeskWait .tableWrap table tr.red td a, .DeskWait .tableWrap table tr.red td b {
  color: #EB2222;
}
.DeskWait .tableWrap table th {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 150.5%;
  letter-spacing: -0.3px;
  color: #222222;
  height: 52px;
  background: #E8F3FA;
  border-top: 1px solid #91B7DB;
  border-bottom: 2px solid #91B7DB;
}
.DeskWait .tableWrap table td {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #666666;
  padding: 9px 0;
  border-bottom: 1px solid #EEEEEE;
}
.DeskWait .tableWrap table td a, .DeskWait .tableWrap table td b {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #222222;
}
.DeskWait .tableWrap table td a {
  text-decoration-line: underline;
}
.DeskWait .tableWrap table .checkBoxWrap {
  justify-content: center;
}
.DeskWait .tableWrap table .checkItem {
  width: 22px;
  height: 22px;
}
.DeskWait .tableWrap.table01 td:nth-last-child(1), .DeskWait .tableWrap.table01 td:nth-last-child(2), .DeskWait .tableWrap.table01 td:nth-last-child(3) {
  color: #999;
}

/*# sourceMappingURL=DeskWaitingList.css.map */
