.mobileWrap {
  max-width: 360px;
  margin: 0 auto;
}

.mobileCon {
  padding-top: 62px;
}

.off + .mobileCon {
  padding-top: 106px;
}

.mobileInner {
  padding: 0 20px;
}

.logo {
  background: url(../../../public/img/logo.svg) center/cover no-repeat;
  width: 213px;
  height: 52px;
  margin: 0 auto;
  margin-top: 182px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #666666;
  margin-top: 25px;
}

.form.mobile .row + .row {
  margin-top: 20px;
}
.form.mobile .flexBx {
  display: flex;
  gap: 10px;
}
.form.mobile .flexBx input[type=time] {
  flex: 0 0 140px;
}
.form.mobile .divider {
  height: 2px;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  background-color: #F2F4F6;
  margin-top: 30px;
  margin-bottom: 23px;
}
.form.mobile h3 {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #222222;
  padding-bottom: 11px;
  border-bottom: 1px solid #CFCFCF;
}
.form.mobile h3 .ess {
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #FF5100;
}
.form.mobile .group {
  margin-top: 12px;
}
.form.mobile .group select,
.form.mobile .group input {
  height: 50px;
  box-sizing: border-box;
  flex: 1 0 0;
  width: 50%;
}
.form.mobile .group .formBx {
  margin-top: 4px;
  display: flex;
  align-self: center;
  gap: 7px;
}
.form.mobile .group .formBx span {
  margin-top: 14px;
  font-size: 16px;
  line-height: 120%;
}

.mobile4 {
  padding-bottom: 96px;
}
.mobile4.over {
  padding-top: 200px;
}
.mobile4.over .top .tit {
  display: none;
}
.mobile4.over .top .tit.overType {
  display: block !important;
}
.mobile4 .top {
  position: fixed;
  top: 86px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 20px;
  z-index: 1;
}
.mobile4 .tit {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #0275B5;
  padding: 7px 20px;
  gap: 6px;
  width: 264px;
  height: auto;
  background: #E8F3FA;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 45px;
}
.mobile4 .tit.overType {
  display: none;
  background-color: #FFF3EF;
  color: #FF5100;
  margin-bottom: 25px;
}
.mobile4 .progressBar {
  background-color: #EEEEEE;
  border-radius: 20px;
  height: 10px;
  width: 100%;
  position: relative;
}
.mobile4 .progressBar .fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 20px;
  width: 20px;
  background-color: #009ABF;
}
.mobile4 .progressBar .fill .badge {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: #009ABF;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  width: auto;
  min-width: 76px;
  transform: translateX(50%);
}
.mobile4 .progressBar .fill .badge::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 11px;
  height: 11px;
  background: url(../../../public/img/Polygon5.svg) center no-repeat;
  transform: translateX(-50%);
  z-index: -1;
}
.mobile4 .quesItem {
  padding-top: 36px;
}
.mobile4 .quesItem .title {
  display: flex;
  gap: 5px;
}
.mobile4 .quesItem .title .num {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #0275B5;
}
.mobile4 .quesItem .title .question {
  font-weight: 600;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #222222;
  margin-bottom: 14px;
}
.mobile4 .quesItem .answer {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}
.mobile4 .quesItem .answer label {
  border-top: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
  width: 100%;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  padding-left: 40px;
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  color: #666666;
}
.mobile4 .quesItem .answer label::before {
  position: absolute;
  right: 40px;
  top: 14px;
  width: 22px;
  height: 22px;
  border: 0;
  background: url(../../../public/img/mRadio_df.svg);
}
.mobile4 .quesItem .answer label::after {
  display: none;
}
.mobile4 .quesItem .answer input:checked + label {
  background-color: #EEF9FF;
  border: 0;
  font-weight: 800;
  color: #0275B5;
}
.mobile4 .quesItem .answer input:checked + label::before {
  position: absolute;
  right: 40px;
  top: 14px;
  width: 22px;
  height: 22px;
  border: 0;
  background: url(../../../public/img/mRadio_ac.svg);
}
.mobile4 .quesItem .answer label:nth-last-of-type(1) {
  border-bottom: 2px solid #CFCFCF;
}
.mobile4 .quesItem .answer .selectWrap {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.mobile4 .quesItem .answer .selectWrap select {
  height: 54px;
  flex: 1 0 auto;
}
.mobile4 .quesItem .answer .selectWrap span {
  padding: 10px;
}
.mobile4 .quesItem.free .title {
  padding-top: 14px;
}
.mobile4 .quesItem.free .num {
  width: 18px;
  height: 18px;
  background: url(../../../public/img/Writinghand.svg) center/cover no-repeat;
  flex: 0 0 auto;
}
.mobile4 .quesItem.free .question {
  font-weight: 500;
  font-size: 15px;
  line-height: 110%;
  /* or 17px */
  letter-spacing: -0.3px;
  color: #176DBD;
}
.mobile4 .quesItem.free .answer .field {
  margin: 0 20px;
  padding: 10px;
  width: calc(100% - 40px);
  height: 177px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #BCBCBC;
}
.mobile4 .scrollTop {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 42px;
  height: 42px;
  background: url(../../../public/img/btn_scrollTop.svg) center/cover no-repeat;
}
.mobile4 .quesItem + .quesItem {
  margin-top: 40px;
}

.mobileFinish {
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 110%;
  font-weight: 700;
  color: #222;
}
.mobileFinish .animation-img {
  display: block;
  margin: 0 auto;
  margin-top: 188px;
  width: 100px;
  height: 100px;
}
.mobileFinish h1 {
  margin-top: 35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  margin-bottom: 6px;
  display: block;
}
.mobileFinish h2 {
  display: block;
  font-size: 18px;
  margin-bottom: 28px;
}
.mobileFinish h2 b {
  font-weight: 700;
  color: #177ABD;
}
.mobileFinish p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #999999;
}
.mobileFinish p b {
  font-weight: 500;
  color: #666;
}

.mobileWrap .mobile4 .top {
  max-width: 360px;
  margin: 0 auto;
}

/*# sourceMappingURL=mobile.css.map */
